.card {
  width: 230px;
  height: 330px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 11px;
  padding: 10px;
  margin: 0 5px;
}
.container {
  display: flex;
}

textarea {
  min-width: 200px;
  max-width: 200px;

  max-height: 207px;
  min-height: 207px;
}
.visuallyHidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.card p {
  height: 240px;
}

.card[data-card-type="0"] {
  background: #FFFFFF;
  color: #000000;
}

.card[data-card-type="1"] {
  background: #000000;
  color: #FFFFFF;
}